## Variable and Value

变量 和 值

In [4]:
speed_of_liuxiang = 110/12.97
distance = 1000

In [2]:
speed_of_liuxiang

8.481110254433307

In [7]:
time = distance/speed_of_liuxiang
print(time)
print(time/60)

117.9090909090909
1.965151515151515

## Assign New Value, Mutable

= is asssignment

## Data type

In this notebook, you will learn the concept of Variabels, names and object, and also 4 built-in-data type in python:

1. integer (int)
2. Float (float)
3. Boolean (bool)
4. String (str)

## Integers

In [10]:
type(234)

int

In [12]:
5

5

In [15]:
type((123,456,789))

tuple

In [16]:
a=5
a=a+2

In [17]:
print(a)

7

In [22]:
a=5
a*=2

In [23]:
print(a)

10

In [26]:
5//2

2

In [27]:
100/2

50.0

In [31]:
type(100/2)

float

In [30]:
5 % 2

1

In [32]:
2+3*4

14

整数

In [34]:
a = 10**100

In [35]:
print(a)

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [38]:
0xAF

175

## Float

In [ ]:
98.5

In [40]:
9.8e2

980.0

## Math Functions

In [41]:
import math

In [42]:
print(math.pi)

3.141592653589793

In [43]:
print(math.floor(98.3))

98

In [44]:
print(math.ceil(98.3))

99

In [50]:
print(math.pow(2.3,3))  # power
print(2.3**3)

12.166999999999998
12.166999999999998

In [51]:
math.sqrt(25)

5.0

## Boolean

In [53]:
True == 1

True

In [54]:
type(1<2)

bool

In [55]:
not (2 < 1)

True

In [56]:
(2 < 1) or (1 < 2)

True

In [57]:
(2 < 1) and (1 < 2)

False

!= 不等于

In [59]:
2 !=1 #！=不等于

True

### string

In [61]:
s = "this is string"
type(s)

str

In [64]:
"this's also a string"

"this's also a string"

In [79]:
a = 'this"\n is also a string'
print(a)

this"
 is also a string

## Type Conversions

In [81]:
10 + 10
'10'+'10'

'1010'

In [84]:
a = str(98.6)
a
type(a)

str

In [85]:
str(True)

'True'

In [86]:
float('98.6')

98.6

In [87]:
int('45')

45

In [89]:
True + 3

4

## Combine & Duplicate

In [92]:
name = 'My name is'
James = 'James'
name + ' ' + James + '.'

'My name is James.'

In [93]:
laugh = 3*'Ha'
print(laugh)

HaHaHa

In [103]:
letters = 'asdfsdgfgghjhkl'
letters[0]

'a'

In [95]:
letters = '我爱北京天安门'

In [97]:
letters[0]

'我'

In [99]:
letters[15]

IndexError: string index out of range

In [100]:
letters[-2]

'k'

In [ ]:
letters[2:]

In [116]:
letters = 'asdfghjklmn'
letters[2:10]

'dfghjklm'

In [114]:
letters[::-1]

SyntaxError: invalid syntax (<ipython-input-114-bbce3a5e8cf3>, line 1)

In [108]:
letters[-3:]

'hkl'

## Get Length

In [118]:
len(letters)

11

In [126]:
a = 'asdf sdfsdf sdfsa sdfsf'
b = a.split()

In [127]:
'|'.join(b)

'asdf|sdfsdf|sdfsa|sdfsf'

## Subtitle

In [128]:
s = 'I love python, I love Java'
s.replace('love','hate')

'I hate python, I hate Java'

In [129]:
s.replace('love','hate',1)
#替换几个

'I hate python, I love Java'

## Other useful

In [138]:
py_desc = 'python is a great thing'

In [132]:
py_desc.startswith('python')
py_desc.endswith('thing')

True

In [134]:
py_desc.find('a')

10

In [135]:
py_desc.isalnum()

False

In [139]:
py_desc.count('python')

1

## In and out

In [142]:
age = input("How ould are you")
heigh = input("How tall are you")
weigh = input("How much do you weigh?")

print("So, you are %s old, %s tall and %s heavy." %(age,heigh,weigh))

How ould are you27
How tall are you180
How much do you weigh?170
So, you are 27 old, 180 tall and 170 heavy.